@font-face {
    font-family: 'Merriweather', serif;;
    src: url(../fonts/Merriweather-Regular.ttf);
}

body{
    font-family: 'Merriweather', serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 80%;
    margin: 150px auto;
    /* background-image:url(../imges/18764669.jpg); */
    /* box-sizing: content-box; */
    /* background-attachment: fixed; */
}
.container .header{
    background-image: url(../imges/outstanding-social-media-campaigns-5f60d3e4bb13b.png) ;
    background-size: cover;
    padding: 30px 20px;
    text-align: center;
    box-shadow: 0px 0px 6px 1px #ddd;
}

.container .header p{
    margin-bottom: 20px;
}
.container .header hr{
    width: 200px;
    margin: auto;
}
.container .cards .card{
    /* background-color: rgb(237, 234, 248); */
    padding: 25px;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 6px 1px #ddd;
    margin-bottom: 25px;

}
.container .cards .card:hover .image{
    padding: 0px;

}
.container .card .image{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid brown;
    padding: 6px;
    transition:0,3s;
    transition-delay:0,4ms;
}
.container .card .image img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
}
.container .info{
    margin-left: 25px;
}
.container .info .name{
    margin-bottom: 20px;
}
.container .info span{
    margin-right: 40px;
}

